.form{

    background: black;

    width: 75%;
    margin-left: 10%;
    opacity: 0.6;
    margin-top: 5%;
    height: 80%;
}
.form label{
    margin-left: 20%;
}
.form  textarea{
}
    @media (min-width: 700px) /*Middle*/ {

        .form{
        width: 45%;
        margin-left: 27%;
            margin-top: 5%;
            height: 70%;
        }
    @media (min-width: 881px) /*Maximum screen*/{

        .form{
            width: 75%;
            margin-left: 60%;
            margin-top: 35%;
            height: 150%;
        }
}}