body{
    margin: 0;
    background: url("images/background.jpg") no-repeat center;

}
.background{

    background-size: auto;
    min-height: 100%;
    width: 100%;
    height: auto;
}
.form{
    background: black;
    width: 35%;
    min-height: 700px;
    margin-left: 32%;
    opacity: 0.8;
}
@media (max-width: 1000px) {
    .form{
        width: 55%;
        margin-left: 22%;
    }
}